.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.parent-holder {
  display: flex;
  gap: 15px;

}

.p1 {
  display: flex;
}

.p2 , .p3{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

