.body {
  /* display: flex; */
}
.container {
  display: flex;
  /* flex-direction: column;
  flex: 1; */
  gap: 10px;
}

.nav {
  display: flex;
  flex-direction: column;

}

.header {
}
.mainconainter {
}

.main {
}

.sidebar {
}
