.body {
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
/* nav section */
.nav {
  grid-column: 1/2;
  grid-row: 1/5;
  background-color: chocolate;
  font-size: 25px;
}
.nav p:first-child {
  background-color: blue;
  margin-bottom: 50px;
  text-align: center;
}

.nav-top {
}
.nav-top,
ul,
li {
  margin-bottom: 10px;
}

.nav-top {
  margin-bottom: 80px;
}

/* header section */
.header {
  grid-column: 2/5;
  grid-row: 1/2;
  background-color: blueviolet;
  border-color: blue;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
  margin-right: 20px;
}

.header-top > div:nth-child(2) {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom div:nth-child(2) {
  display: flex;
  gap: 20px;
  margin-right: 20px;
  
}

.buttons button {
  border-radius: 20%;
}


/* main container section */
.main-container {
  grid-column: 2/5;
  grid-row: 2/5;
  background-color: gainsboro;
}

.main {
}

.sidebar {
}
