body,
html {
  height: 100%; /* Ensure body and html take full height of viewport */
  margin: 0; /* Remove default margin */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  width: 100%;
  height: 100%; /* Ensure container takes full height of viewport */
}

.display {
display: flex;
  border: 2px solid blue;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 6px;
  width: 350px;
  justify-content: end;
}

.pressables {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Space between flex items */
  border: 2px solid red;
  width: 350px; /* Ensure the width is enough to fit 4 columns */
  padding: 10px;
}

.pressables div {
  border: 2px solid green;
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  width: 80px; /* Set a fixed width for buttons */
  height: 50px; /* Set a fixed height for buttons */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border-radius: 36px;
}
